.main{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap:1em;
  height: 100vh;
  width: 100%;
}

.main__PP { 
    width: 100%;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.main__PP__png {
    display: flex;
    width: 25%;
    max-width: 12em;
    min-width: 11em;
    border: 1px solid rgb(var(--black-color), 1);
    border-radius: 50%;
    margin: 1em;
}

.main__presentation {
    display: flex;
    font-family: var(--montserrat-font);
    justify-content: center;
    flex-direction: column;
    margin: 1em;
}

.main__presentation__business {
    font-size: var(--body-font-size);
    font-weight: var(--headline-font-weight);
    color: rgb(var(--black-color));
    text-align: center;
    max-width: 1120px;
    margin: 1em;
}

.main__presentation__text {
    font-size: var(--body-font-size);
    color: rgb(var(--black-color));
    text-align: center;
    max-width: 800px;
    line-height: 1.5; 
    margin: 1em;
}

.main__CV {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1em 1em 4em 1em;
}

.main__CV__button{
  background-color: rgba(var(--white-color),0.2);
  border-radius: 20px;
  padding: 5px 10px;
  border: 2px solid rgb(var(--black-color),1);
  font-family: var(--unbounded-font);
  color: rgba(var(--black-color),1);
  cursor:pointer;
  transition: all 300ms;
  padding: 5px 10px;
}

.main__CV__button:hover {
    border: 2px solid rgb(var(--black-color),0.5);
    color: rgba(var(--black-color),0.5);
    font-family: var(--unbounded-font);  
    cursor:pointer;
    transition: all 300ms;
    padding: 5px 10px;
}